.line {
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: repeating-linear-gradient(
    to bottom,
    black,
    black 5px,
    transparent 5px,
    transparent 10px
);
}